/* Mark: SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 5px solid green;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Mark: HEADER */

header {
    z-index: 1;
    width: 100%;
    height: 5rem;
    padding: 1.25rem 8.75rem;

    display: flex;
    gap: 24.375rem;

    background-color: rgba(9, 33, 42, 1);
}

/* Mark: CONTENT */

main {
    flex: 1;
    max-width: 90rem;
    width: 100%;
    margin: -6.25rem auto;
    padding: 12.5rem 3.125rem;

    display: flex;
    gap: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(12, 171, 240);
}

h1 {
    font-family: 'Figtree';
    font-weight: 800;
    font-size: 2rem;
}

h2 {
    font-family: 'Figtree';
    font-weight: 700;
    font-size: 2rem;
}

.photogallery {
    height: auto;
    width: 100%;
    max-width: 73.125rem;

    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
}

.gallery {
    height: auto;
    width: 100%;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery>img {
    width: 9.375rem;
    height: 9.375rem;


    object-fit: contain;
    object-position: center;
    display: block;


    background-color: black;
    border: solid 2px black;
    border-radius: 15px;

    &:hover {
        cursor: pointer;
        scale: 1.5;
        background: linear-gradient(to right, red, blue);
    }

    &#img_0:hover,
    &#img_3:hover,
    &#img_6:hover,
    &#img_10:hover {
        scale: 1.5;
        background: linear-gradient(to bottom, red, blue);
    }

    &:focus {
        outline: 3px solid white;
    }

    &#img_0:focus,
    &#img_3:focus,
    &#img_6:focus,
    &#img_10:focus {
        outline: 3px solid white;
    }
}

/* Mark: DIALOG */

.dialog {
    display: none;
}

.dialog[open] {
    width: 100%;
    max-width: 43rem;
    height: 42.125rem;
    margin: auto;
    padding: 3.5rem clamp(1.25rem, -0.536rem + 8.929vw, 3.75rem);

    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to right, red, blue);
    border-radius: 20px;
}

.dialog::backdrop {
    backdrop-filter: blur(15px);
}

.dialog button {
    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;

    font-size: 2rem;
    background-color: rgb(248, 4, 207);
    border: 3px solid yellow;
    border-radius: 50%;
}

.dialog-header {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.dialog-img {
    height: 23.4375rem;
    max-width: 35rem;
}

.dialog-img>img {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;

    border-radius: 25px;
    background: rgba(255, 0, 0, 0);

    &#dialog-img_0,
    &#dialog-img_3,
    &#dialog-img_6,
    &#dialog-img_7,
    &#dialog-img_8,
    &#dialog-img_10 {
        background: rgba(255, 0, 0, 0);
    }
}

.dialog-navigation {
    height: auto;
    width: 100%;
    max-width: 16.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mark: FOOTER */

footer {
    width: 100%;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/img/Subtract.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.impressum {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-enterprise {
    width: 8.375rem;

    display: flex;
    justify-content: space-between;
}

.copyright {
    font-family: 'Figtree';
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(153, 172, 179, 1);
}

/* Mark: max768px */

@media screen and (max-width:768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dialog {
        height: 100vh;
    }
}

/* Mark: max480px */

@media screen and (max-width: 480px) {
    main {
        padding: 12.5rem 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .gallery {
        gap: 0.2rem;
    }

    .gallery>img {
        &:hover {
            scale: 1;
        }

        &#img_0:hover,
        &#img_3:hover,
        &#img_6:hover,
        &#img_10:hover {
            scale: 1;
        }

        &:focus {
            scale: 1;
        }

        &#img_0:focus,
        &#img_3:focus,
        &#img_6:focus,
        &#img_10:focus {
            scale: 1;
        }
    }

    .dialog[open] {
        height: 100vh;
        max-height: 100%;
        width: 100vw;
        margin: 0;
        padding-bottom: 1.5625rem;
        padding-top: 1.5625rem;

        justify-content: space-between;
    }

    .dialog-header {
        height: auto;
        width: 100%;

        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }


    h2 {
        align-self: flex-start;
    }
}